/src/
/public/
/.idea/
/tests/
/.storybook/
/.vscode/
/plopTemplates/
.editorconfig
.eslintrc.js
.gitignore
package.json
package-lock.json
jest.config.js
tsconfig.json
tsconfig.release.json
vite.config.ts
vite.config.js
webpack.config.js
tailwind.config.js
postcss.config.js
plopfile.js
auto-imports.d.ts
components.d.ts
/.github/
.eslintrc-auto-import.json